/auto
/beamerthemeorg-demo.aux
/beamerthemeorg-demo.log
/beamerthemeorg-demo.nav
/beamerthemeorg-demo.out
/beamerthemeorg-demo.pdf
/beamerthemeorg-demo.snm
/beamerthemeorg-demo.toc
/beamerthemeorg-demo.vrb
*~
